.comments-component {
  list-style-type: none;
}

.comments-component .comment {
  background-color:#324659;
  padding: 15px 15px 0 15px;
  margin-bottom: 15px;
}

.comments-component .comment-author .label {
  background-color:#f5511e;
}

.comments-component .comment-author {
  margin-bottom: 5px;
}

.comments-component .load-more a {
  color: #f5511e;
}
