.news-component .news-well {
  background-color:#324659;
  border:none;
  margin-top:15px;
  margin-bottom:0px;
}

.news-component .news-score-container {
  font-size:27px;
  text-align:center;
  padding-right:0px;
}

.news-component .news-score {
  background-color:#f5511e;
}

.news-component .news-title {
  font-size:16px;
}

.news-component a {
  color: #d0d8e1
}

.news-component a:hover,
.news-component a:focus {
  color: #b4b8be
}

.news-component a:visited {
  color: #2780e3
}